<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
  <script src ="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>


  <style>
    body {
      background-color: #17a196;
    }
  </style>
</head>
<body>

<div class="container">
  <div class="jumbotron text-center">
    <h2>Klimat - Calculator</h2>
  </div>
</div>

<center>

<!--Declaring variables -->
<%   var options = ["Nötkött", "Torsk", "Sallad", "Halloumi", "Tomat"];%>
<% var ingredients = 5 %>


<!--Dropdown -->
<% for (var i = 0; i < ingredients; i++){ %>
  <div class="container" id = <%=i%> >
    <select style="width: 30%" class = "ingredientField" id=<%"ingredient_"+i%> name="Calculator">
      <option selected="">Please Select</option>

      <!--Adding options to dropdown -->
      <% for (var j = 0; j < options.length; j++){ %>
        <option> <%=options[j] %>  </option>
      <% } %>

    </select>

    <!--Input textfield -->
    <input type="text" class = "amountField" style = "width: 50px" id =<% "amount_"+i %> > g
  </div>
<% } %>

<br>
<br>

<div class="container">
  <input type = "button" id = "calc" onclick="calculate()" class="btn btn-primary" value = "Calculate">
</div>


<canvas id="myChart" width = "200" heigth = "200"></canvas>

<h2><p id="Daily"></p>
<h3><p id="CO2e"></p>





<script>

function calculate(){
  var options = ["Nötkött", "Torsk", "Sallad", "Halloumi", "Tomat"];
  var CO2_values = [0, 20.0, 4.7, 0.53, 3.0, 1.47];
  console.log("hej");


  var res = 0;
  var sum = 0;
  var choice = 0;
  var amounts = document.getElementsByClassName("amountField");
  var ingredients = document.getElementsByClassName("ingredientField");

  for (var i = 0; i < amounts.length; i++){
    choice = ingredients[i].selectedIndex;
    sum += (CO2_values[choice] * amounts[i].value);
  }

  res = amounts[0].value;
  var percentage = Math.round(sum/(2000000/365)*100);
  document.getElementById("CO2e").innerHTML = (sum*0.001).toPrecision(3) + " kg CO2e";

  document.getElementById("Daily").innerHTML = percentage + " % of Daily Emission Budget";

  document.getElementById("calc").onclick = "reload()";
  document.getElementById("calc").innerHTML = "Again";


  //Create cirkle chart
  var ctx = document.getElementById("myChart");
  console.log(ctx.height);

  var myChart = new Chart(ctx, {
    type : 'doughnut', 
    data : {
      datasets: [{
        data: [percentage, 100-percentage], 
        backgroundColor: [
                '#30638E',
                '#79b4e5'
                ],
        borderColor: [
                '#30638E',
                '#79b4e5'
                ],
        labels : ["asd", "ddd"]
      }]
    },
    options : {responsive : false,
      maintainAspectRatio : false}
  });
}

  function refresh(){
    reload();
  }

</script>


</body>
</html>