<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="dist/semantic.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="dist/semantic.min.js"></script>
</head>
<body>
   




	<div>
	  <h1>test</h1>
	</div>
	<div style = "background-color: #ffffff">
		<h1>Proxima Nova</h1>
	</div>

	  <style>
	    @font-face {
	      font-family: 'ProximaNova';
	      src: url(Proxima.otf) format("opentype");
	    }
	    body {
	      background-image: url('/images/salad.jpg');
	      background-repeat: no-repeat;
	      background-attachment: fixed;
	      font : 'ProximaNova';
	    }
  </body>
</html>